<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>Error</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-1">Error</h1>
      <h1 class="display-3"><%= error.message %></h1>
      <p class="lead"><%= error.status %></p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Go Home</a>
      </p>
    </div>
  </body>
</html>