<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Send an email:</p>
    <form action="/send" method="get">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="text" name="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Topic</label>
        <input type="text" name="topic" class="form-control">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Message</label>
        <input type="text" name="message" class="form-control">
      </div>
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
  </body>
</html>
