<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>Success</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-3">Success</h1>
      <p class="lead">Your message has been sent.</p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Go Home</a>
      </p>
    </div>
  </body>
</html>
